[Unit]
Description=Lucia Notify v2.0.0 unstable
Requires=x_start.service
After=x_start.service

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart=
Restart=always

[Install]
WantedBy=default.target
