[Unit]
Description=Lucia Notify v1.1.0 stable
Requires=x_start.service
After=x_start.service

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart=/home/<user>/Lucia-Notify/scripts/lucia-daemon

[Install]
WantedBy=default.target
