[Unit]
Description=Monitor X server start

[Service]
Type=oneshot
ExecStart=/home/<user>/Lucia-Notify/scripts/x_start

[Install]
WantedBy=default.target
