[Unit]
Description=Lucia Notify v1.1.1 stable
Requires=x_start.service
After=x_start.service

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
ExecStart={{ systemd_lucia_script }}

[Install]
WantedBy=default.target
